<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>
<body>
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-message">骗哥们</div>
        <div class="error-message"><h6>只能看到自己的哦，每次提交保存 10 min。</h6></div>
        <a href="/" class="home-link">返回</a>
    </div>
</body>
</html>